[submodule "MKPITS_Core_Java_Vaibhav_Paidlewar"]
	path = MKPITS_Core_Java_Vaibhav_Paidlewar
	url = https://github.com/Vaibhavp911/MKPITS_Core_Java_Vaibhav_Paidlewar.git
[submodule "MKPITS_HTML5_Vaibhav_Paidlewar"]
	path = MKPITS_HTML5_Vaibhav_Paidlewar
	url = https://github.com/Vaibhavp911/MKPITS_HTML5_Vaibhav_Paidlewar.git
[submodule "MKPITS_Basic_C_Vaibhav_Paidlewar"]
	path = MKPITS_Basic_C_Vaibhav_Paidlewar
	url = https://github.com/Vaibhavp911/MKPITS_Basic_C_Vaibhav_Paidlewar.git
[submodule "MKPITS_Basic-C_Vaibhav_Paidlewar"]
	path = MKPITS_Basic-C_Vaibhav_Paidlewar
	url = https://github.com/Vaibhavp911/MKPITS_Basic-C_Vaibhav_Paidlewar.git
[submodule "MKPITS_CSS3_Vaibhav_Paidlewar"]
	path = MKPITS_CSS3_Vaibhav_Paidlewar
	url = https://github.com/Vaibhavp911/MKPITS_CSS3_Vaibhav_Paidlewar.git
[submodule "MKPITS_SQL_Vaibhav_Paidlewar"]
	path = MKPITS_SQL_Vaibhav_Paidlewar
	url = https://github.com/Vaibhavp911/MKPITS_SQL_Vaibhav_Paidlewar.git
