.a{
    text-align: justify;  text-align-last: center;
}

.b{
    text-align: justify;  text-align-last: center;
}
.c{
    text-align: justify;  text-align-last: center;
}

.d{
    text-align: justify;  text-align-last: center;
}

.e{
    text-align: justify;  text-align-last: center;
}

