td{
    width: 10px;
    height: 10px;
    border-style: solid;
    border-color: rgb(88, 191, 255);
}

th{
    width: 8px;
    height: 8px;
    border-style: solid;
    border-color: rgb(27, 255, 80);
}

tr{
    width: 5px;
    height: 5px;
    border-style: solid;
    border-color: rgb(255, 46, 231);
}
table{
    border-style: solid;
    border-color: rgb(255, 199, 96);
}