<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>login</title>
    <link rel="stylesheet" href="/static/CSS/login.css"></link>
</head>
<style>
    body{
<!--        background-image: url("/static/images/bg.jpg");-->
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

    }
    .main{

        background-color: rgba(23, 23, 92, 0.10);
        backdrop-filter: blur(10px)  saturate(180%);
    }
</style>

<body>
<div class="main">
    <h1>Login</h1>
    <h3>Enter your login credentials</h3>
    <form>
        <label for="second">
            Username:
        </label>
        <input type="text"
               id="second"
               name="username"
               placeholder="Enter your Username" required>

        <label for="password">
            Password:
        </label>
        <input type="password"
               id="password"
               name="password"
               placeholder="Enter your Password" required>

        <div class="wrap">
            <button type="submit"
                    onclick="solve()">
                Submit
            </button>
        </div>
    </form>
    <p>Forgot Password/
        <a href="forgot-password.jsp"
           style="text-decoration: none;">
            Forgot
        </a>
    </p>
    <p>Not registered?
        <a href="registration.jsp"
           style="text-decoration: none;">
            Register
        </a>
    </p>
</div>
</body>
</html>